.footer {
  width: 100%;
  padding: 3rem 1rem;
  background-color: #faffe0;
  border-top: 10px solid #e4d4f0;
  border-bottom: 10px solid #e4d4f0;
  font-family: system-ui, sans-serif;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.footer__text {
  margin: 0;
  font-size: 0.9rem;
  color: #6b5b73;
  text-align: center;
  grid-column: 2;
}

.footer_name {
  color: #ee85d7;
  font-weight: 600;
}

.footer_name_2 {
  color: #cac1e0;
  font-weight: 600;
}

.footer_subject {
  color: #f7b7a3;
  font-style: italic;
}

.footer_year {
  color: #a9c4eb;
  font-weight: 500;
}

.footer__logo {
  height: 60px;
  width: auto;
}

.footer__logo--left {
  grid-column: 1;
  justify-self: start;
}

.footer__logo--right {
  grid-column: 3;
  justify-self: end;
}
